// Estilo general del contenido
.login-content {
    --background: #121212; // fondo oscuro
    display: flex;
  flex-direction: column;
  justify-content: center;

    .login-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-top: 2rem;
    }

    .login-form {
        width: 100%;
        max-width: 400px;
        background: #1f1f1f; // contenedor del form un poco más claro
        padding: 2rem;
        border-radius: 16px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
    }

    // Estilo para los ion-item (campos)
    ion-item.input-item {
        background: #2a2a2a;
        border-radius: 8px;
        margin-bottom: 1rem;
        --highlight-color-focused: #28a745; // verde ITS
        --color: #fff;
    }

    ion-input {
        color: #fff;
    }

    .password-toggle {
        font-size: 1.4rem;
        cursor: pointer;
        color: #0077cc;
    }

    ion-icon {
        color: #0077cc; // azul ITS
    }

    // Botón principal de login
    ion-button[type="submit"] {
        --background: #28a745;
        --background-activated: #218838;
        --background-hover: #218838;
        font-weight: bold;
        border-radius: 8px;
        margin-top: 1rem;
    }

    // Botón de crear cuenta
    ion-button[fill="clear"] {
        color: #4ea3ff;
        text-decoration: underline;
        font-size: 0.9rem;
        margin-top: 1rem;
    }

    // transiciones suevaes
    ion-input,
    ion-item,
    ion-button {
        transition: all 0.3s ease;
    }

    // hover para iconos y boton de crear cuenta
    .password-toggle:hover,
    ion-button[fill="clear"]:hover {
        color: #63c5ff;
    }
}