<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Asistencia</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" color="danger">
        <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" scroll="true">

  <!-- Icono almanaque -->
  <ion-icon name="calendar-outline" size="large" style="color: #3880ff; margin: 0 auto; display: block;"></ion-icon>

  <!-- Instrucción para el usuario -->
  <ion-text color="medium">
    <h2 class="ion-text-center">Seleccioná una acción</h2>
    <p class="ion-text-center">Asegurate de estar dentro de la zona de trabajo y permitir la cámara y geolocalización.
    </p>
  </ion-text>

  <!-- Botón Entrada -->
  <ion-button expand="block" color="success" (click)="registrarAsistencia('entrada')">
    <ion-icon name="log-in-outline" slot="start"></ion-icon>
    Registrar Entrada
  </ion-button>

  <!-- Botón Salida -->
  <ion-button expand="block" color="danger" (click)="registrarAsistencia('salida')">
    <ion-icon name="log-out-outline" slot="start"></ion-icon>
    Registrar Salida
  </ion-button>

  <!-- mensaje de exito al registrar -->
  <div *ngIf="mensajeExito" class="ion-text-center" style="margin-top: 2rem;">
    <ion-text color="success">
      <h3>¡Asistencia registrada con éxito!</h3>
    </ion-text>
    <ion-button color="primary" (click)="irAlHistorial()">
      Ver Historial
    </ion-button>
  </div>

  <!-- Parrafo-->
  <ion-text color="medium">
    <p class="ion-text-center" style="margin-top: 2rem; font-size: 0.9rem;">
      Tu ubicación y una foto serán requeridas para validar tu asistencia.
    </p>
  </ion-text>

</ion-content>